colorama==0.4.1
contextlib2==0.5.5
html5lib==0.999999999
jeepney==0.4.1
kazoo==2.5.0
keyring==19.3.0
ply==3.9
proliantutils==2.7.0
pyghmi==1.2.16
pysmi==0.3.4
pysnmp==4.4.12
python-dracclient
python-ironic-inspector-client==3.7.0
python-scciclient
redis==3.3.8
SecretStorage==3.1.1
singledispatch==3.4.0.3

